[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/External/imgui"]
	path = Engine/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/External/entt"]
	path = Engine/External/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/External/spdlog"]
	path = Engine/External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/External/raylib"]
	path = Engine/External/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Engine/External/box2d"]
	path = Engine/External/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Engine/External/yaml-cpp"]
	path = Engine/External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Engine/External/ImGuizmo"]
	path = Engine/External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
