[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/External/imgui"]
	path = Engine/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/External/entt"]
	path = Engine/External/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/External/bgfx"]
	path = Engine/External/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "Engine/External/glfw"]
	path = Engine/External/glfw
	url = https://github.com/glfw/glfw.git
